{% extends 'base.html' %}
{% load static %}
{% block head %}

<link rel="stylesheet" href="{% static 'myapp/css/login.css'%}">
<link rel="shortcut icon" href="{% static 'myapp/imgs/instagram.png'%}">
{% endblock %}
{% block content %}
<div id="main_container">

    <div class="form_container">

        <div class="form">


            <h1 class="sprite_insta_big_logo title"></h1>


            <form method='POST'>
                {% csrf_token %}
                <p class="login_user_name">
                    <label for="user_name">사용자명:</label>
                    {{ form.username }}
                </p>

                <p class="login_user_password">
                    <label for="user_password">비밀번호:</label>
                    {{ form.password }}
                </p>

                <input type="submit" id="submit_btn" value="로그인" class="submit_btn">
            </form>



        </div>

        <div class="bottom_box">
            <div>
                <span>아이디가 없으신가요?</span><a href="{% url 'signup' %}">회원가입</a>
            </div>
        </div>


    </div>

</div>
{% endblock %}
